.desktop-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    /* background-repeat: no-repeat;
    background-position: center; */
    overflow: hidden;
}
.desktop-background .desktop-background-img {
    position: absolute;
    top: 0;
    left: 0;
}
.desktop-background[data-scale-type="0"] .desktop-background-img {
    width: 100%;
    height: 100%;
}
.desktop-background[data-scale-type="1"] .desktop-background-img {
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.desktop-background[data-scale-type="2"] .desktop-background-img {
    width: auto;
    height: auto;
}
.desktop-background[data-scale-type="3"] .desktop-background-img {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}