*{
	margin:0px;
	padding:0px;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, .main-window {
    width: 100%;
    height: 100%;
}
.main-window {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}